<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.vilez.appointment.model.mapper.AppointmentMapper">
    <resultMap id="appointment" type="appointmentDto">
        <result column="appointment_id" property="appointmentId"/>
        <result column="board_id" property="boardId"/>
        <result column="title" property="title"/>
        <result column="share_user_id" property="shareUserId"/>
        <result column="not_share_user_id" property="notShareUserId"/>
        <result column="appointment_start" property="appointmentStart"/>
        <result column="appointment_end" property="appointmentEnd"/>
    </resultMap>

    <resultMap id="room" type="roomDto">
        <result column="id" property="id"/>
        <result column="board_id" property="boardId"/>
        <result column="type" property="type"/>
        <result column="share_user_id" property="shareUserId"/>
        <result column="not_share_user_id" property="notShareUserId"/>
        <result column="type" property="type"/>
    </resultMap>

    <resultMap id="mylist" type="MyAppointListDto">
        <result column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="title" property="title"/>
        <result column="hope_area_lat" property="hopeAreaLat"/>
        <result column="hope_area_lng" property="hopeAreaLng"/>
        <result column="start_day" property="startDay"/>
        <result column="end_day" property="endDay"/>
        <result column="appointment_id" property="appointmentId"/>
        <result column="share_user_id" property="shareUserId"/>
        <result column="not_share_user_id" property="notShareUserId"/>
    </resultMap>

    <select id="getMyAppointmentCalendarListShare" parameterType="int" resultMap="appointment">
        select s.id, s.title, a.appointment_start, a.appointment_end,
               (
                   case
                       when share_user_id = #{userId} THEN 1
                       else 0
                    end
                   ) as state
        from appointment as a
        left join sharing_board as s
        on a.board_id = s.id
        where not_share_user_id = #{userId} or share_user_id = #{userId};
    </select>

    <select id="getMyAppointmentCalendarListAsk" parameterType="int" resultMap="appointment">
        select s.id, s.title, a.appointment_start, a.appointment_end,
                (
                    case
                        when share_user_id = #{userId} THEN 1
                        else 0
                    end
                ) as state
        from appointment as a
        left join ask_board as s
        on a.board_id = s.id
        where not_share_user_id = #{userId} or share_user_id = #{userId};
    </select>

    <select id="getBoardState" parameterType="int" resultType="kr.co.vilez.appointment.model.vo.BoardStateVO">
        SELECT board_id as boardId
        FROM appointment
        WHERE now() >= appointment_start and appointment_end >= now() and board_id = #{boardId};
    </select>

    <select id="getGiveListShare" parameterType="int" resultMap="mylist">
        select
            ANY_VALUE(id) as id, ANY_VALUE(user_id) as user_id,
            ANY_VALUE(title) as title, ANY_VALUE(hope_area_lat) as hope_area_lat,
            ANY_VALUE(hope_area_lng) as hope_area_lng, ANY_VALUE(start_day) as start_day,
            ANY_VALUE(end_day) as end_day, ANY_VALUE(appointment_id) as appointment_id,
            ANY_VALUE(share_user_id) as share_user_id, ANY_VALUE(not_share_user_id) as not_share_user_id
        from sharing_board as s
                 right join(
            select *
            from appointment
            where share_user_id = #{userId}
        ) as a
        on a.board_id = s.id
        where (s.state >= 0 and a.state >= 0)
        group by board_id;
    </select>
    <select id="getGiveListAsk" parameterType="int" resultMap="mylist">
        select ANY_VALUE(id) as id, ANY_VALUE(user_id) as user_id,
               ANY_VALUE(title) as title, ANY_VALUE(hope_area_lat) as hope_area_lat,
               ANY_VALUE(hope_area_lng) as hope_area_lng, ANY_VALUE(start_day) as start_day,
               ANY_VALUE(end_day) as end_day, ANY_VALUE(appointment_id) as appointment_id,
               ANY_VALUE(share_user_id) as share_user_id, ANY_VALUE(not_share_user_id) as not_share_user_id
        from ask_board as s
                 right join(
            select *
            from appointment
            where share_user_id = #{userId}
        ) as a
        on a.board_id = s.id
        where (s.state >= 0 and a.state >= 0)
        group by board_id;
    </select>

    <select id="getMyAppointmentListShare" parameterType="int" resultMap="mylist">
        select
            ANY_VALUE(id) as id, ANY_VALUE(user_id) as user_id,
            ANY_VALUE(title) as title, ANY_VALUE(hope_area_lat) as hope_area_lat,
            ANY_VALUE(hope_area_lng) as hope_area_lng, ANY_VALUE(start_day) as start_day,
            ANY_VALUE(end_day) as end_day, ANY_VALUE(appointment_id) as appointment_id,
            ANY_VALUE(share_user_id) as share_user_id, ANY_VALUE(not_share_user_id) as not_share_user_id
        from sharing_board as s
        right join(
            select *
            from appointment
            where not_share_user_id = #{userId}
        ) as a
        on a.board_id = s.id
        where (s.state >= 0 and a.state >= 0)
        group by board_id;
    </select>
    <select id="getMyAppointmentListAsk" parameterType="int" resultMap="mylist">
        select ANY_VALUE(id) as id, ANY_VALUE(user_id) as user_id,
               ANY_VALUE(title) as title, ANY_VALUE(hope_area_lat) as hope_area_lat,
               ANY_VALUE(hope_area_lng) as hope_area_lng, ANY_VALUE(start_day) as start_day,
               ANY_VALUE(end_day) as end_day, ANY_VALUE(appointment_id) as appointment_id,
               ANY_VALUE(share_user_id) as share_user_id, ANY_VALUE(not_share_user_id) as not_share_user_id
        from ask_board as s
        right join(
            select *
            from appointment
            where not_share_user_id = #{userId}
        ) as a
        on a.board_id = s.id
        where (s.state >= 0 and a.state >= 0)
        group by board_id;
    </select>

    <select id="getAppointmentList" parameterType="int" resultMap="appointment">
        SELECT appointment_id, board_id, share_user_id, not_share_user_id, appointment_start, appointment_end
        FROM appointment
        WHERE board_id = #{boardId};
    </select>

    <insert id="create" parameterType="appointmentDto">
        INSERT INTO appointment(board_id, share_user_id, not_share_user_id,
                                appointment_start, appointment_end)
        VALUES (#{boardId}, #{shareUserId}, #{notShareUserId}, #{appointmentStart}, #{appointmentEnd});
    </insert>

    <select id="getRoomListByUserId" parameterType="int" resultMap="room">
        SELECT * FROM room where share_user_id = #{shareUserId} or not_share_user_id = #{notShareUserId};
    </select>

    <insert id="createRoom" parameterType="roomDto">
        <selectKey resultType="int" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into room (type,board_id,share_user_id,not_share_user_id)
        values (#{type},#{boardId}, #{shareUserId},#{notShareUserId});
    </insert>

    <select id="getBoard" parameterType="int" resultMap="room">
        select * from room where id = #{roomId}
    </select>

    <select id="checkRoom" parameterType="int" resultMap="room">
        SELECT r.*
        from
            (select * from room where share_user_id = #{userId} or not_share_user_id = #{userId}) r
        where board_id = #{boardId} and type = #{type}


    </select>

</mapper>