<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.vilez.back.model.mapper.BackMapper">

    <select id="getAppointmentState" parameterType="appointmentStateDto" resultType="int">
        select state
        from appointment
        where board_id = #{boardId} and share_user_id = #{shareUserId}
          and not_share_user_id = #{notShareUserId} and type = #{type}
    </select>
</mapper>