<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.vilez.back.model.mapper.BackMapper">

    <resultMap id="appointment" type="kr.co.vilez.back.model.vo.AppointmentVO">
        <result column="appointment_id" property="appointmentId"/>
        <result column="board_id" property="boardId"/>
        <result column="share_user_id" property="shareUserId"/>
        <result column="not_share_user_id" property="notShareUserId"/>
        <result column="appointment_end" property="appointmentEnd"/>
    </resultMap>
    <select id="getAppointment" parameterType="kr.co.vilez.back.model.vo.AppointmentVO" resultMap="appointment">
        select board_id, share_user_id, not_share_user_id, appointment_end, type
        from appointment
        where board_id = #{boardId}
        and share_user_id = #{shareUserId}
        and not_share_user_id = #{notShareUserId}
        and type = #{type}
        and state >= 0
    </select>

    <update id="setAppointment" parameterType="int">
        update appointment
        set state = -1
        where share_user_id = #{shareUserId}
          and not_share_user_id = #{notShareUserId}
          and type = #{type}
          and board_id = #{boardId}
          and state >= 0
    </update>

    <select id="getAppointmentId" parameterType="int" resultMap="appointment">
        select share_user_id, not_share_user_id, board_id, type
        from room
        where state >= 0 and id = #{roomId}
    </select>

    <select id="getAppointmentState" parameterType="appointmentStateDto" resultType="int">
        select a.state
        from appointment as a
        left join room as r
        on a.board_id = r.board_id and a.share_user_id = r.share_user_id and a.not_share_user_id = r.not_share_user_id
        where r.id = #{roomId}
        order by appointment_start desc
        limit 1;
    </select>

</mapper>