<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.vilez.user.model.mapper.UserMapper">
    <resultMap type="userDto" id="user">
        <result column="id" property="id"/>
        <result column="email" property="email"/>
        <result column="password" property="password"/>
        <result column="nickname" property="nickName"/>
        <result column="token" property="token"/>
        <result column="point" property="point"/>
        <result column="manner" property="manner"/>
        <result column="profile_img" property="profileImg"/>
        <result column="date" property="date"/>
        <result column="oauth" property="oauth"/>
        <result column="access_token" property="accessToken"/>
        <result column="refresh_token" property="refreshToken"/>
        <result column="state" property="state"/>
        <result column="area_lng" property="areaLng"/>
        <result column="area_lat" property="areaLat"/>
    </resultMap>

    <resultMap type="locationDto" id="location">
        <result column="userId" property="user_id"/>
        <result column="lng" property="area_lng"/>
        <result column="lat" property="area_lat"/>
    </resultMap>

    <update id="modifyPassword" parameterType="string" >
        update user
        set password = #{password}
        where email = #{email};
    </update>

    <update id="setPoint" parameterType="int">
        update user
        set point = point + #{point}
        where id = #{userId};
    </update>

    <update id="setManner" parameterType="int" >
        update user
        set manner =  manner + #{degree}
        where id = #{userId};
    </update>

    <select id="saveLocation" parameterType="locationDto" resultMap="location">
        UPDATE user
        SET area_lng = #{lng}, area_lat=#{lat}
        WHERE id = #{code};
    </select>

    <select id="saveLocationMobile" parameterType="map">
        UPDATE user
        SET area_lng = #{areaLng}, area_lat=#{areaLat}
        WHERE id = #{id};
    </select>

    <select id="checkEmail" parameterType="string" resultMap="user">
        SELECT email
        FROM user
        WHERE email = #{email};
    </select>

    <select id="list" resultMap="user">
        select * from user;
    </select>
    <select id="refreshCheck" parameterType="map" resultMap="user">
        SELECT id, email, nickname
        FROM user
        WHERE id = #{userId} and refresh_token = #{token};
    </select>

    <select id="check" parameterType="string" resultMap="user">
        SELECT id, email, password, nickname
        FROM user
        WHERE nickname = #{nickname};
    </select>

    <select id="detail" parameterType="int" resultMap="user">
        SELECT nickname,token,point,manner,profile_img, area_lat, area_lng
        from user
        where id = #{id} and state >= 0;
    </select>

    <update id="modifyUserInfo" parameterType="map">
        UPDATE user
        <set>
            <if test ="nickName != null and nickName != ''">
                nickname = #{nickName},
            </if>
            <if test="password != null and password != ''">
                password = #{password},
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <update id="modifyProfile" parameterType="userDto">
        UPDATE user
        SET profile_img = #{profileImg}
        WHERE id = #{id};
    </update>

    <insert id = "join">
        insert into user(email, password, nickname, point, manner,
                         date, state, oauth)
        values(#{email}, #{password}, #{nickName},
               100, 21, now(), 0, #{oauth});
    </insert>

    <select id="login" parameterType="UserDto" resultMap="user">
        SELECT id, email, password, nickname, area_lat, area_lng, oauth,date
        FROM user
        WHERE email = #{email} and password = #{password};
    </select>

    <select id="loginFake" parameterType="UserDto" resultMap="user">
        SELECT id, email, password, nickname, area_lat, area_lng, oauth,date
        FROM user
        WHERE email = #{email} and password = #{password};
    </select>
    <update id="saveToken" parameterType="map">
        UPDATE user
        SET refresh_token = #{token}
        WHERE id = #{userId};
    </update>
    <update id="logout" parameterType="userDto">
        UPDATE user
        SET refresh_token = ""
        WHERE id = #{id};
    </update>

</mapper>